<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.modeltester">

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Pytorch.PyClassifierCamera"
            android:label="@string/title_activity_py_classifier_camera"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Tensorflow.TfClassifierCamera"
            android:label="@string/title_activity_tf_classifier_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tensorflow.TfDetectorCamera"
            android:label="@string/title_activity_tf_detector_camera"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Help" />
        <activity android:name=".Pytorch.PyClassifier" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tensorflow.TfClassifier" />
        <activity android:name=".Tensorflow.TfDetector" />
        <activity
            android:name=".Settings"
            android:label="Settings"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.modeltester.Settings" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>